body
{
background:linear-gradient(rgb(168, 181, 187),rgb(78, 185, 235));
}
  input{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
   }

   #btn{
     background-color: green;
     color: white;
     font-size: 20px;
     border-radius: 0px 50px;
   }

   #btn:hover
   {
   background-color: yellowgreen;
   }
   span{
     color: red;
     font-size: 20px;
   }
    